<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Movie Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngIf="movie">

    <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
    >

    <ion-card-header>
      <ion-card-title>
        {{ movie.title }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-button
        expand="block"
        color="success"
        *ngIf="!isFavourite()"
        (click)="addToFavourites()"
      >
        Add To Favourites
      </ion-button>

      <ion-button
        expand="block"
        color="danger"
        *ngIf="isFavourite()"
        (click)="removeFromFavourites()"
      >
        Remove From Favourites
      </ion-button>

      <p>
        Release Date:
        {{ movie.release_date }}
      </p>

      <p>
        Rating:
        {{ movie.vote_average }}
      </p>

      <p>
        {{ movie.overview }}
      </p>

    </ion-card-content>

  </ion-card>

</ion-content>