<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Favourite Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Favourite Movies</h1>

  <p *ngIf="favouriteMovies.length === 0">
    No favourite movies added yet.
  </p>

  <ion-card *ngFor="let movie of favouriteMovies">

    <img
      *ngIf="movie.poster_path"
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
    >

    <ion-card-header>
      <ion-card-title>
        {{ movie.title }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" (click)="openDetails(movie.id)">
        Details
      </ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>